PORT=5000

DATABASE_URL=postgresql://user:password@localhost:5432/cvdb

OPENAI_API_KEY=your_openai_key

CLOUDINARY_CLOUD_NAME=xxx
CLOUDINARY_API_KEY=xxx
CLOUDINARY_API_SECRET=xxx

ADZUNA_APP_ID=xxx
ADZUNA_APP_KEY=xxx